# Ignore log files
logs/
*.log

# Ignore temporary files
temp/
*.tmp

# Ignore project stucture files, exclude [path, sha, url]
config/project_structure.json

# Ignore system files
Thumbs.db
.DS_Store

# Ignore IDE settings
.vscode/
.idea/

